In [4]:
import pandas as pd
import numpy as np
from pandas_datareader import data as pdr
import datetime as dt

In [7]:
stock=input("Enter the stock ticker symbol: ")
print(stock)

Enter the stock ticker symbol: QQQ
QQQ

In [15]:
start_year=2019
start_day=1
start_month=1
last_date=dt.datetime(start_year,start_month,start_day)
curr_date=dt.datetime.now()

In [16]:
df=pdr.get_data_yahoo(stock,last_date,curr_date)
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-01-02,155.750000,150.880005,150.990005,154.880005,58576700.0,151.261337
2019-01-03,153.259995,149.490005,152.600006,149.820007,74820200.0,146.319550
2019-01-04,157.000000,151.740005,152.339996,156.229996,74709300.0,152.579758
2019-01-07,158.860001,156.110001,156.619995,158.089996,52059300.0,154.396317
2019-01-08,160.110001,157.199997,159.539993,159.520004,49388700.0,155.792892
...,...,...,...,...,...,...
2022-11-16,289.480011,284.600006,287.390015,285.440002,48859800.0,285.440002
2022-11-17,286.320007,280.720001,280.880005,284.809998,55462100.0,284.809998
2022-11-18,287.989990,282.320007,287.890015,284.820007,53351400.0,284.820007
2022-11-21,284.579987,281.040009,283.399994,281.890015,40083500.0,281.890015
2022-11-22,286.109985,280.459991,282.640015,285.950012,40050700.0,285.950012

In [21]:
ma=50
smaString="Sma_"+str(ma)
df[smaString]=df.iloc[:,4].rolling(window=ma).mean()
df=df.iloc[ma:]
print(df)

                  High         Low        Open       Close      Volume  \
Date
2019-08-07  184.509995  179.889999  181.270004  184.250000  49990600.0
2019-08-08  188.320007  184.570007  185.080002  188.259995  38418100.0
2019-08-09  188.000000  185.029999  187.360001  186.490005  33608900.0
2019-08-12  185.899994  183.500000  185.339996  184.350006  24642900.0
2019-08-13  189.679993  184.020004  184.190002  188.389999  40241900.0
...                ...         ...         ...         ...         ...
2022-11-16  289.480011  284.600006  287.390015  285.440002  48859800.0
2022-11-17  286.320007  280.720001  280.880005  284.809998  55462100.0
2022-11-18  287.989990  282.320007  287.890015  284.820007  53351400.0
2022-11-21  284.579987  281.040009  283.399994  281.890015  40083500.0
2022-11-22  286.109985  280.459991  282.640015  285.950012  40050700.0

             Adj Close      Sma_50
Date
2019-08-07  180.671188  31722582.0
2019-08-08  184.603256  31647368.0
2019-08-09  182.867661  31712450.0
2019-08-12  180.769226  31296384.0
2019-08-13  184.730774  30584376.0
...                ...         ...
2022-11-16  285.440002  65850548.0
2022-11-17  284.809998  65846794.0
2022-11-18  284.820007  65791318.0
2022-11-21  281.890015  65674874.0
2022-11-22  285.950012  64884644.0

[832 rows x 7 columns]

In [22]:

close,openn=0,0
for i in df.index:
    if(df['Adj Close'][i]>df[smaString][i]):
        close+=1
    else:
        openn+=1
print(close)
print(openn)

0
832